.sobre .imagem-sobre-mim {
    max-width: 40%;
    padding: 0px auto;
}

.sobre .imagem-sobre-mim .img-box {
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}

.sobre .imagem-sobre-mim img {
    border: 10px solid transparent;
    border-radius: 40px;
}

.sobre .informacoes-sobre-mim{
    max-width: 50%;
    padding: 0 25px;
}

.sobre .informacoes-sobre-mim .botoes{
     margin-top: 50px;
}

.sobre .informacoes-sobre-mim p{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: justify;
}

@media (max-width:980px){
    .sobre .row{
        justify-content: center;
    }
    .sobre .imagem-sobre-mim{
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;        
    }
    .sobre .informacoes-sobre-mim{
        padding: 0 var(--mobile-padding);
        text-align: center;
        max-width: 100%;
    }
}
